/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* Reset values + var*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-h2-btn: hsl(0, 0%, 95%);
    --orange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --darkercyan: hsl(179, 100%, 13%);
}

/* Work on Main elements */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-h2-btn);
}

#main {
    display: flex;
    justify-content: center;
    margin: 0 25%;
    border-radius: 5px;
    overflow: hidden;
}

/* Work on Boxes */
.box {
    max-width: 250px;
    max-height: 700px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sedans-box {
    background-color: var(--orange);
}

.suvs-box {
    background-color: var(--darkcyan);
}

.luxury-box {
    background-color: var(--darkercyan);
}

img {
    width: 50px;
}

/* Work on Texts */
h2 {
    color: var(--bg-h2-btn);
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 33px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: lighter;
    margin-top: -10px;
}

/* Work on Buttons */
button {
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 30px;
    background-color: var(--bg-h2-btn);
    border-radius: 30px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    width: 110px;
    height: 35px;
}

button:active {
    border: 0.2px solid var(--bg-h2-btn);
    color: var(--bg-h2-btn);
}

.sedans {
    color: var(--orange);
}

.sedans:active {
    background-color: var(--orange);
}

.suvs {
    color: var(--darkcyan);
}

.suvs:active {
    background-color: var(--darkcyan);
}

.luxury {
    color: var(--darkercyan);
}

.luxury:active {
    background-color: var(--darkercyan);
}

/* Work on Footer */
.attribution {
    position: fixed;
    bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}

/* On Mobile */
@media (max-width: 375px) {
    body {
        height: 100%;
    }

    #main {
        flex-direction: column;
        margin: 50px -10px;
    }

    button {
        margin-top: -10px;
    }

    .hidden {
        display: none;
    }
}